footer
  padding: 20px

  .copyright
    font-size: 10px
    margin: 0
    text-align: center
  
  .social-links
    font-size: 30px
    text-align: center
    margin-bottom: 10px

    a
      text-decoration: none
      color: #4a4a4a
      font-size: 0
      margin-right: 25px

      &:hover,
      &:focus
        color: #38c1ef

      i
        font-size: 30px