.hero-section
  padding: 70px 50px
  text-align: center
  background: url('img/hero.jpg') no-repeat center center
  background-size: cover
  display: flex
  flex-direction: column
  align-items: center
  color: $base-color-2

  h1, h2
    margin: 0

  h1
    font-size: 2.3125rem

  h2
    font-size: 1.875rem

  p
    max-width: 550px
    font-weight: 100
    font-size: 1rem

  .prompt
    max-width: 450px
    font-size: .875rem

  a
    color: #fff

  .contact
    padding: 10px 20px 10px 20px
    border-radius: 5px
    background: $base-color-1
    text-decoration: none

    &:hover,
    &:focus
      background-color: #38c1ef
