@import 'styles/vars.sass'

@import 'styles/Header.sass'
@import 'styles/HeroSection.sass'
@import 'styles/main.sass'
@import 'styles/Footer.sass'

body
	font-family: Futura, sans-serif

	header, footer
  	background: #efefef

	p, h3
		font-weight: 100
