body {
  margin: 0;
  padding: 0;
}

/* ICOMOON FONTS */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?yuo3j2');
  src:  url('fonts/icomoon/icomoon.eot?yuo3j2#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?yuo3j2') format('truetype'),
    url('fonts/icomoon/icomoon.woff?yuo3j2') format('woff'),
    url('fonts/icomoon/icomoon.svg?yuo3j2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-linkedin:before {
  content: "\eac9";
}

